<div class="content-wrapper">
    <h1 class="heading">Welcome to CSE Motors!</h1>
    <div class="car-specs">
        <div class="car-details">
            <h2>DMC Delorean</h2>
            <p>3 Cups Delorean</p>
            <p>Superman doors</p>
            <p>Fuzzy dice</p>
            <div class="action">Own Today</div>
        </div>
    </div>
    <div class="car-details-upgrades">
        <div class="car-parts">
            <h2 class="reviews-heading">DMC Delorean Reviews</h2><br>
            <li>"So fast it's almost like travelling in time" (4/5)</li><br>
            <li>"Coolest ride on the road."(4/5)</li><br>
            <li>"i'm feeling McFly!" (5/5)</li><br>
            <li>"The most futuristic ride of our day."(4.5/5)</li><br>
            <li>"80's livin and i love it!"(5/5)</li><br>
        </div>
        <div class="car-upgrades">
            <h2 class="delorean-upgrades">Delorean Upgrades</h2>
            <div class="delorean-carUpgrades">
                <div class="upgrade-container">
                    <div class="image-container">
                        <img src="../images/upgrades/flux-cap.png" alt="" class="upgrade-image">
                    </div>
                    <div><p class="upgrade-detail">Flux Capacitor</p></div>
                </div>
                
                <div class="upgrade-container">
                    <div class="image-container">
                        <img src="../images/upgrades/flame.jpg" alt="" class="upgrade-image">
                    </div>
                    <p class="upgrade-detail">Flame Decals</p>
                </div>
        
                <div class="upgrade-container">
                    <div class="image-container">
                        <img src="../images/upgrades/bumper_sticker.jpg" alt="" class="upgrade-image">
                    </div>
                    <p class="upgrade-detail">Bumper Stickers</p>
                </div>
        
                <div class="upgrade-container">
                    <div class="image-container">
                        <img src="../images/upgrades/hub-cap.jpg" alt="" class="upgrade-image">
                    </div>
                    <p class="upgrade-detail">Hub Caps</p>
                </div>

            </div>
            
        </div>
    </div>
    
</div>