<div class="content-wrapper">
    <h1 class="heading">Welcome to CSE Motors!</h1>
    <div class="car-specs">
        <div class="car-details">
            <h2>DMC Delorean</h2>
            <p>3 Cups Delorean</p>
            <p>Superman doors</p>
            <p>Fuzzy dice</p>
            <button class="action">Own Today</button>
        </div>
    </div>
    <div class="car-details-upgrades">
        <div class="car-parts">
            <section class="car-reviews">
                <h2 class="reviews-heading">DMC Delorean Reviews</h2>
                <li>"So fast it's almost like travelling in time" (4/5)</li>
                <li>"Coolest ride on the road."(4/5)</li>
                <li>"i'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day."(4.5/5)</li>
                <li>"80's livin and i love it!"(5/5)</li>
            </section>
        </div>
        <div class="car-upgrades">
            <div class="upgrade-container">
                <div>
                    <img src="../images/upgrades/flux-cap.png" alt="" class="upgrade-image">
                </div>
                <p class="upgrade-detail">Flux Capacitor</p>
            </div>
            
            <div class="upgrade-container">
                <div>
                    <img src="../images/upgrades/flame.jpg" alt="" class="upgrade-image">
                </div>
                <p class="upgrade-detail">Flame Decals</p>
            </div>
    
            <div class="upgrade-container">
                <div>
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="" class="upgrade-image">
                </div>
                <p class="upgrade-detail">Bumper Stickers</p>
            </div>
    
            <div class="upgrade-container">
                <div>
                    <img src="../images/upgrades/hub-cap.jpg" alt="" class="upgrade-image">
                </div>
                <p class="upgrade-detail">Hub Caps</p>
            </div>
            
        </div>
    </div>
    
</div>