/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.car-specs {
  background-image: url("../images/vehicles/delorean-tn.jpg");
  background-repeat: no-repeat;
  background-position-x: 20%;
}