<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <%- messages() %>
    <%- vehicleManagement %>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <script src="../../js/inventory.js"></script>